* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: MintCream;
}

/*                                                   Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: DarkGoldenRod;
  position: relative;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

@media only screen and (min-width: 960px) {
  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Hide the links inside the navigation menu (except for logo/home) */
@media only screen and (min-width: 960px) {
  .topnav #myLinks {
    display: flex;
  }
}

@media only screen and (max-width: 959px) {
  .topnav #myLinks {
    display: none;
  }
}

/* Style navigation menu links */
.topnav a {
  color: MintCream;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  text-decoration: overline;
  transition: 0.5s;
}

.topnav a.active:hover {
  text-decoration: none;
}

@media only screen and (max-width: 959px) {
  .topnav a {
    box-shadow: 0.3px 0.3px 0.35px 0.35px gray;
  }
}

/* Style the hamburger menu */
@media only screen and (max-width: 959px) {
  .topnav a.icon {
    background: #785807;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (min-width: 960px) {
  .topnav a.icon {
    display: none;
  }
}

/* Add a  background color on mouse-over */
.topnav a:hover {
  background-color: MintCream;
  color: #785807;
  font-weight: bold;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #785807;
  color: MintCream;
}

/*                                                          shopping cart                   */
/*-----------------------------------------------------------------------*/
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  text-decoration: overline;
  margin-bottom: 1.5em;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  color: DarkGoldenRod;
}

.section-header:nth-of-type(1) {
  padding-top: 1.5em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-primary {
  margin-top: 1.5em;
  color: mintcream;
  background-color: DarkGoldenRod;
  border: none;
  border-radius: .3em;
  font-weight: bold;
  letter-spacing: 0.3em;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.btn-primary:hover {
  background-color: #785807;
}

.shop-item {
  margin: 1.5em;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #785807;
  margin-bottom: 1.5em;
}

.shop-item-image {
  height: 11em;
  border-radius: 10px;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.shop-item-details {
  /* display: flex; */
  text-align: center;
  padding: 1em;
}

.shop-item-price {
  /* flex-grow: 1; */
  color: #785807;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #785807;
}

.cart-column {
  border-bottom: 1px solid #785807;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 960px) {
  .cart-column {
    display: flex;
    align-items: center;
  }

  .cart-row {
    display: flex;
  }

  .cart-item {
    width: 70%;
  }

  .cart-price {
    width: 15%;
  }

  .cart-quantity {
    width: 15%;
  }
}

@media only screen and (max-width: 959px) {
  .cart-column {
    display: block;
    text-align: center;
  }

  .cart-row {
    display: block;
  }

  .cart-item {
    width: 100%;
    padding: 1.5em;
  }

  .cart-price {
    width: 100%;
    padding: 0.5em;
  }

  .cart-quantity {
    width: 100%;
    padding: 1.5em;
  }
}

.cart-price {
  font-size: 1.2em;
  color: #785807;
}

.cart-item-title {
  color: #785807;
  margin-left: .5em;
  font-size: 1.5em;
}

.cart-item-image {
  width: 7.5em;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.btn-danger {
  color: MintCream;
  background-color: DarkGoldenRod;
  border: none;
  border-radius: .3em;
  font-weight: bold;
  letter-spacing: 0.3em;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.btn-danger:hover {
  background-color: #785807;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid DarkGoldenRod;
  background-color: mintcream;
  color: DarkGoldenRod;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  margin-right: 25px;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.cart-row:last-child {
  border-bottom: 1px solid #785807;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #785807;
  margin-right: 10px;
}

.cart-total-price {
  color: #785807;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 10px auto 20px auto;
  font-size: 1.75rem;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

/*----------------------------------shopping cart --------------------------------------------------------*/
/*empty div*/
.clear {
  clear: both;
}

/*empty div*/
/*-------------------------------------------------------------------------------------------*/
/*home click on button to choose image----------------------------------------------------------------------------------*/
.sliderClickButton {
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#containerImage {
  height: 11em;
  border-radius: 10px;
  margin-top: 3em;
  margin-bottom: 1.5em;
  box-shadow: 1px 1px 1.5px 1.5px gray;
  /* padding:0 5em; */
  background-image: radial-gradient(circle, DarkGoldenRod, MintCream, #785807);
}

#containerImage:hover {
  background-image: radial-gradient(circle, #785807, MintCream, DarkGoldenRod);
}

#containerImage p {
  margin-top: -3em;
  color: DarkGoldenRod;
  font-weight: bold;
  text-decoration: overline;
}

.sliderButtonsClick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sliderButtonsClick button {
  margin: 0.75em 0.75em;
}

/*home click on button to choose image---------------------------------------------------------------------------------------*/
/*image comparison slider !!!*/
#centreDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-comparison-slider {
  position: relative;
  width: 15em;
  height: 11em;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1.5em;
}

.image-container-original,
.image-container-edited {
  position: absolute;
  width: 15em;
  height: 11em;
}

.image-container-original {
  width: 7.5em;
  overflow: hidden;
}

.container-comparison-slider img {
  border-radius: 10px;
  width: 15em;
  height: 11em;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.container-comparison-slider .slider {
  /* width: 1.5px; */
  background: DarkGoldenRod;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
}

/*image comparison slider !!!*/
/* ----------------------------------------------------------home page before-after-slider */
.myslider {
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myslider-img {
  height: 11em;
  border-radius: 10px;
  margin-bottom: 1.5em;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.mysliderButtons .btn {
  margin: 0 0.75em;
}

/* --------------------------------------------------home page before-after-slider */
/*--------------------------------------------------------------------------------------multiple images slider*/
.slider {
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-img {
  height: 11em;
  border-radius: 10px;
  margin-bottom: 1.5em;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.sliderButtons .btn {
  margin: 0 0.75em;
}

/*--------------------------------------------------------------------------------------multiple images slider*/

/*----------------------------------------------------------contact page ---------------------------------------------------------------------------*/

.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.useful-links{
    position: absolute;
    top: 5%;
    right: 5%;

}
.useful-links a{
    display: block;
    color: #fff;
    text-decoration: none;
}

.container form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}
form ion-icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}


/*----------------------------------------------------------contact page ---------------------------------------------------------------------------*/

/*footer*/
.hidden {
  display: none;
}

@media only screen and (min-width: 960px) {
  #icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 959px) {
  #icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

footer ion-icon {
  color: DarkGoldenRod;
  font-size: 3rem;
  margin: 1em 0.7em;
  padding: 0.07em;
  border-radius: 50%;
  /* box-shadow: 3px 3px 2.5px 3px gray; */
}

footer ion-icon:hover {
  color: #785807;
}

footer a h3 {
  color: DarkGoldenRod;
  margin-bottom: 1em;
  text-decoration: overline;
  text-transform: capitalize;
}

footer a h3:hover {
  color: #785807;
}

footer h5 {
  text-align: center;
  margin: 1em 0;
}

footer #divSources h5 a {
  color: DarkGoldenRod;
  padding: 1.5em 0;
}

footer #divSources h5 a:hover {
  color: #785807;
}

/*footer*/
/**/
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
